/* Category */
.category {
    background-color: #0D6EFD;
    display: flex;
    flex-direction: column;
    width: var(--category-width);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 5px 0 5px -5px rgba(57, 63, 72, 0.5);
  }
  
  .category .title {
    color: white;
    font-size: 28px;
    font-weight: 600;
    height: var(--header-height);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--white-color);
    text-transform: uppercase;
  }
  .category-list
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }
  .category-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .category-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    height: 70px;
    width: 100%;
  }
  .category-item img {
    width: 4rem;
    margin-right: 10px;
  }
  .category-item-name
  {
    font-size: 24px ;
    color: white;
    /* padding: 15px 70px; */
    padding: 19px 10px;
  }
  .category-item.active {
    background-color: #ffffff34;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    pointer-events: none;
  }
  .category-item:hover {
    cursor: pointer;
    opacity: 0.5;
    background-color: #ffffff34;
  }
  .category-user
  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }
  