.function-list
{
  position: absolute;
  top: 0;
  left: var(--category-width);
  right: 0;
  background-color: rgba(255, 255, 255, 0.98) ;
  border-bottom: 0.1px solid #ccc  ;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  height: var(--header-height);
  align-items: center;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.1);
}
.function-item {
  font-size: 24px;
  font-weight: 400;
  color: #989898;
}
.function-item.active {
  color: black;
  pointer-events: none;
  font-weight: 500;
}
.function-item:hover {
  color: black;
  cursor: pointer;
  font-weight: 400;
}

