.main {
  max-width: 100%;
  height: 100%;
}

/* Content */
.content {
  /* background-color: var(--color-content-background); */
  background-color: #fff;
  flex: 1;
  padding: 0 40px;
  margin-left: var(--category-width);
}
.content-body
{
  padding: calc(var(--header-height) + 30px) 30px 40px;
}
.result {
  margin: 25px 0;
}
.form-wrap
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #000;
  padding: 16px 40px;
  border-radius: 5px;
}
.result-title {
  font-size: 2.6rem;
  color: black;
  text-align: center;
  font-weight: 600;
  padding: 10px 0px 35px
}
.result-money
{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
.money-value
{
  width: 150px;
  display: inline-block;
  text-align: right;
}
.result-money-item
{
  margin-top: 15px;
}
.report .result-money-item
{
  margin-top: 0;
}