{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="{%static 'css/form.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/category.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/function-list.css'%} ">
    <link rel="stylesheet" href="{%static 'css/global.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/variable.css' %}"/>


    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>QUAN LY DAI LY</title>
  </head>
  <body>
    <div class="main">
      <div class="category">
        <div class="title">
          Quản lý đại lý
        </div>
        <div class="category-list">
          <ul class="category-list-item">
            <li class="category-item active">
              <a href="{%url 'tiepnhan'%}" class="category-item-name">Chức năng</a>
            </li>
            <li class="category-item">
              <a href="{%url 'danhmuc'%}" class="category-item-name">Danh mục</a>
            </li>
            <li class="category-item">
              <a href="{%url 'doanhso'%}" class="category-item-name">Báo cáo</a>
            </li>
            <li class="category-item">
              <a href="{%url 'quydinh'%}" class="category-item-name">Quy định</a>
            </li>
          </ul>
          <ul class="category-user">
            <li class="category-item">
              <img src="{%static 'images/user-logo.png' %}" alt="">
              <a href="{%url 'profile'%}" class="category-item-name">
                {{user.username}}
              </a>
            </li>
            <li class="category-item">
                <img srcset="{%static 'images/logout.png' 2x %}" alt="" />
                <a href="{%url 'logout'%}" class="category-item-name">Logout</a>
            </li>
          </ul>
          </ul>
        </div>
      </div>
      
      <div class="content">
        <ul class="function-list">
            <li class="function-item"><a href="{%url 'tiepnhan'%}">Tiếp nhận đại lý</a></li>
            <li class="function-item active"><a href="{%url 'nhaphang'%}">Lập phiếu nhập hàng</a></li>
            <li class="function-item"><a href="{%url 'xuathang'%}">Lập phiếu xuất hàng</a></li>
            <li class="function-item"><a href="{%url 'thutien'%}">Lập phiếu thu tiền</a></li>
            <li class="function-item"><a href="{%url 'tracuu'%}">Tra cứu & Chỉnh sửa</a></li>
        </ul>



        <div class="content-body">
          {% block phieunhap %}
          
          <script type="text/javascript">
            function jsFunction(value) {
              async function fetchData(url) {
                try {
                  const response = await fetch(url, {
                    method: 'GET',
                    credentials: 'same-origin'
                  });
                  const exam = await response.json();
                  return exam;
                } catch (error) {
                  console.error(error);
                }
              }
              async function start() {
                let data = await fetchData(`http://127.0.0.1:8000/api/MatHang/`);
                let list_to_map = await fetchData(`http://127.0.0.1:8000/api/DVT/`);
                const dvt = data.filter(item => item.MaMatHang == value)[0];
                const x = document.querySelector("#TenDVT")
                const y = document.querySelector("#DVT")
                y.value = dvt.DVT;
                const tendvt = list_to_map.filter(item => item.MaDVT == dvt.DVT)[0];
                x.value = tendvt.TenDVT;
              }
              start();

            }
          </script>
            
            <form method="POST" action="" class="form">
              {% csrf_token %}
              <div class="form-wrap">
                <div class="form-title">NHẬP CHI TIẾT PHIẾU NHẬP HÀNG</div>
                <div class="form-input-group-half">
                  <div class="form-input-item-half">
                    <label for="name">Mặt hàng</label>
                  <select name="MaMatHang" onmousedown="this.value='';" onchange="jsFunction(this.value);">
                    <option value="" disabled selected>Chọn mặt hàng</option>
                    {% for item in tenmathang %}
                    <option value="{{item.MaMatHang}}">{{item.TenMatHang}}</option>
                    {% endfor %}
                  </select>
                  </div>
                  <div class="form-input-item-half">
                    <label for="type">Đơn vị tính</label>
                    <input id="TenDVT" name="TenDVT" disabled/>
                    <input type="hidden" id="DVT" name="DVT" value="1" required>
                  </div>
                  
                  <div class="form-input-item-half">
                    <label for="DonGia">Đơn giá nhập</label>
                    <input id="DonGia" name="DonGia" required />
                  </div>
                  <div class="form-input-item-half">
                    <label for="SoLuong">Số lượng</label>
                    <input type="SoLuong" id="SoLuong"  name="SoLuong" required />
                  </div>
                </div>
                <div class="form-input-group-half">
                  <div class="form-input-item-half">
                    <label for="date">Ngày lập phiếu</label>
                    <input disabled type="date" id="date" value="{{ NgayNhap }}" name="date" required />
                  </div>
                  <div class="form-input-item-half">
                    <label for="producer">Nhà cung cấp</label>
                    <input disabled type="name" id="producer" value="{{ MaNhaCC }}" name="producer"  required />
                  </div>
                </div>
                <div class="btn-group">
                  <button class="btn btn-blue" type="submit" name="phieumoi">Thêm</button>
                </div>
              </div>
            
            </form>
            <form action="" method="POST">
              {% csrf_token %} 
            <div class="btn-group">
              <input id="" name="id_xoa" type="hidden" value="{{ id }}" />
              <button name="xoatatca" class="btn btn-white">Hủy</button>
            </div>
          </form>
          {% endblock %}
          <div class="result">
            <div class="result-title">THÔNG TIN PHIẾU NHẬP HÀNG</div>
            <div class="result-table">
              <style type="text/css">
                .tg {
                  border-collapse: collapse;
                  border-spacing: 0;
                }
    
                .tg td {
                  border-color: black;
                  border-style: solid;
                  border-width: 1px;
                  font-size: 18px;
                  overflow: hidden;
                  padding: 0 5px;
                  word-break: normal;
                  text-overflow: ellipsis;
    
                }
                
                .tg th {
                  border-color: black;
                  border-style: solid;
                  border-width: 1px;
                  font-size: 18px;
                  font-weight: bold;
                  overflow: hidden;
                  padding: 10px 5px;
                  word-break: normal;
                  text-overflow: ellipsis;
                }
    
                .tg .tg-gvcd {
                  background-color: #ffffff;
                  border-color: #000000;
                  color: #000000;
                  text-align: center;
                  vertical-align:middle
                }
              </style>
              <table class="tg" style="table-layout: fixed; width: 100%">
                <colgroup>
                  <col style="width: 10%"> <!-- STT -->
                  <col style="width: 10%"> <!-- Ma phieu -->
                  <col style="width: 20%"><!-- Mặt hàng -->
                  <col style="width: 15%"><!-- Đơn vị tính -->
                  <col style="width: 10%"><!-- Số lượng -->
                  <col style="width: 10%"><!-- Đơn giá nhập -->
                  <col style="width: 15%"><!-- Thành tiền -->
                  <col style="width: 10%"><!-- Thao tác -->
                  
                </colgroup>
                <thead>
                  <tr>
                    <th class="tg-gvcd">STT</th>
                    <th class="tg-gvcd">Mã phiếu</th>
                    <th class="tg-gvcd">Mặt hàng</th>
                    <th class="tg-gvcd">Đơn vị tính</th>
                    <th class="tg-gvcd">Số lượng</th>
                    <th class="tg-gvcd">Đơn giá nhập</th>
                    <th class="tg-gvcd">Thành tiền</th>
                    <th class="tg-gvcd">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in ctnhaphang %}
                  <form action="" method="POST" name="delete">
                  {% csrf_token %}
                  <tr>
                    <td class="tg-gvcd">{{forloop.counter}}</td><!-- STT -->
                    <td class="tg-gvcd">
                      <input type="text" name="xoaphieu" class="text-is-input text-center wd-100 " readonly value="{{ item.MaChiTietPhieuNhapHang }}">
                    </td>   
                    <td class="tg-gvcd">
                      <input type="text" name="MaMatHang" class="text-is-input text-center wd-100" readonly value="{{item.MaMatHang}}">
                    </td>                 
                    
                    <td class="tg-gvcd">{{item.MaMatHang.DVT}}</td><!-- Đơn vị tính -->
                    <td class="tg-gvcd">{{item.SoLuong}}</td><!-- Số lượng -->
                    <td class="tg-gvcd">{{item.DonGia}}</td><!-- Đơn giá xuất -->
                    <td class="tg-gvcd">{{item.ThanhTien}}</td><!-- Thành tiền -->
                    <td class="tg-gvcd">
                    
                    <button type="submit" class="btn-delete" name="delete" name="delete">
                      <img class="btn-modify" src="{% static 'images/delete-icon.png'%}" alt="">
                    </button>
                    </td> <!-- Thao tác -->
                  </tr>
                  </form>
                {%endfor%}
                </tbody>
              </table>
            </div>
            {% block tongtien %}
            <div class="result-money">
              <div class="result-money-item result-money-total">
                <span>Tổng tiền: </span>
                <span>{{ sum }} VND</span>
              </div>
            </div>
          </div>
          {% endblock %}
          <div class="btn-group">
            <form action="" method="POST">
              {% csrf_token %}
              <input id="" type="hidden" name="save"  value="{{ sum }}" />
              <button class="btn btn-blue" name="luu" value="{{ sum }}" type="submit">Lưu phiếu</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
