<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/form.css" />
  <link rel="stylesheet" href="../static/css/category.css" />
  <link rel="stylesheet" href="../static/css/function-list.css">
  <link rel="stylesheet" href="../static/css/global.css" />
  <link rel="stylesheet" href="../static/css/main.css" />
  <link rel="stylesheet" href="../static/css/variable.css" />
  <link rel="stylesheet" href="../static/css/modal.css" />
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>QUAN LY DAI LY</title>
</head>

<body>
  <div class="main">
    <div class="category">
      <div class="title">
        Quản lý đại lý
      </div>
      <div class="category-list">
        <ul class="category-list-item">
          <li class="category-item active">
            <a href="{%url 'tiepnhan'%}" class="category-item-name">Chức năng</a>
          </li>
          <li class="category-item">
            <a href="{%url 'doanhso'%}" class="category-item-name">Báo cáo</a>
          </li>
          <li class="category-item">
            <a href="{%url 'quydinh'%}" class="category-item-name">Quy định</a>
          </li>
        </ul>
        <ul class="category-user">
          <li class="category-item">
            <img src="../static/images/user-logo.png" alt="">
            <a href="" class="category-item-name">Admin</a>
          </li>
          <li class="category-item">
            <a href="">
              <img srcset="../static/images/logout.png 2x" alt="" />
              <a href="" class="category-item-name">Logout</a>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <ul class="function-list">
        <li class="function-item"><a href="{%url 'tiepnhan'%}">Tiếp nhận đại lý</a></li>
        <li class="function-item active"><a href="{%url 'nhaphang'%}">Lập phiếu nhập hàng</a></li>
        <li class="function-item"><a href="{%url 'xuathang'%}">Lập phiếu xuất hàng</a></li>
        <li class="function-item "><a href="{%url 'thutien'%}">Lập phiếu thu tiền</a></li>
        <li class="function-item"><a href="{%url 'tracuu'%}">Tra cứu & Chỉnh sửa</a></li>
      </ul>
      <div class="content-sm content-body">
        <form method="post" class="form">
            <!-- {% csrf_token %} -->
            <div class="form-title">LẬP PHIẾU NHẬP HÀNG</div>
            <div class="form-input-group">
              <div class="form-input-item-full">
                <label for="NgayLapPhieu">Ngày lập phiếu</label>
                <input type="date" id="date" name="NgayLapPhieu"/>
              </div>
              <div class="form-input-item-full">
                <label for="MaDaiLy">Mã nhà cung cấp</label>
                <input type="number" id="MaDaiLy" name="MaDaiLy" />
              </div>
            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-blue">
                  <a href="{%url 'chitietnhaphang'%}">Tiếp tục</a>
                </button>
            </div>
          </form>
      </div>
  <script src="../static/script/main.js"></script>
</body>

</html>