{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS -->
  <link rel="stylesheet" href="{%static 'css/form.css' %}"/>
  <link rel="stylesheet" href="{%static 'css/category.css' %}"/>
  <link rel="stylesheet" href="{%static 'css/function-list.css'%} ">
  <link rel="stylesheet" href="{%static 'css/global.css' %}"/>
  <link rel="stylesheet" href="{%static 'css/main.css' %}"/>
  <link rel="stylesheet" href="{%static 'css/variable.css' %}"/>
  <!-- FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>QUAN LY DAI LY</title>
</head>

<body>
  <div class="main">
    <div class="category">
      <div class="title">
        Quản lý đại lý
      </div>
      <div class="category-list">
        <ul class="category-list-item">
          <li class="category-item active">
            <a href="{%url 'tiepnhan'%}" class="category-item-name">Chức năng</a>
          </li>
          <li class="category-item">
            <a href="{%url 'doanhso'%}" class="category-item-name">Báo cáo</a>
          </li>
          <li class="category-item">
            <a href="{%url 'quydinh'%}" class="category-item-name">Quy định</a>
          </li>
        </ul>
        <ul class="category-user">
          <li class="category-item">
            <img src="../static/images/user-logo.png" alt="">
            <a href="{%url 'profile'%}" class="category-item-name">
              Admin
            </a>
          </li>
          <li class="category-item">
            <a href="">
              <img srcset="../static/images/logout.png 2x" alt="" />
              <a href="{%url 'logout'%}" class="category-item-name">Logout</a>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <ul class="function-list">
        <li class="function-item"><a href="{%url 'tiepnhan'%}">Tiếp nhận đại lý</a></li>
        <li class="function-item"><a href="{%url 'nhaphang'%}">Lập phiếu nhập hàng</a></li>
        <li class="function-item active"><a href="{%url 'xuathang'%}">Lập phiếu xuất hàng</a></li>
        <li class="function-item"><a href="{%url 'thutien'%}">Lập phiếu thu tiền</a></li>
        <li class="function-item"><a href="{%url 'tracuu'%}">Tra cứu & Chỉnh sửa</a></li>
      </ul>
      <div class="content-body">
        <form method="post" class="form">
          {%csrf_token%}
          <div class="form-wrap">
            <div class="form-title">NHẬP CHI TIẾT PHIẾU XUẤT HÀNG</div>
            <div class="form-input-group-half">
              <div class="form-input-item-half">
                <label for="name">Mặt hàng</label>
                <input type="text" id="name" name="MaMatHang" required />
              </div>
              <div class="form-input-item-half">
                <label for="type">Đơn vị tính</label>
                <input type="number" id="type" name="DVT" required />
              </div>
              <div class="form-input-item-half">
                <label for="type">Đơn giá xuất</label>
                <input type="number" id="type" name="DonGia" required />
              </div>
              <div class="form-input-item-half">
                <label for="phone">Số lượng</label>
                <input type="tel" id="phone" name="SoLuong" required />
              </div>

            </div>
            <div class="form-input-group-half">
              <div class="form-input-item-half">
                <label for="date">Ngày lập phiếu</label>
                <input type="date" id="date" name="date" value="{{ ngayxuat }}" disabled required />
              </div>
              <div class="form-input-item-half">
                <label for="producer">Mã Đại lý</label>
                <input type="name" id="producer" name="producer" value="{{ daily }}" disabled required />
              </div>
            </div>
            <div class="btn-group">
              <button class="btn btn-blue" type="submit">Thêm</button>
            </div>
          </div>
        </form>
        <div class="btn-group">
          <a href="/delete/chitietxuathang/{{daily}}/{{ngayxuat}}/{{id}}"><button class="btn btn-white">Hủy</button></a>
        </div>
        <div class="result">
          <div class="result-title">THÔNG TIN PHIẾU XUẤT HÀNG</div>
          <div class="result-table">
            <style type="text/css">
              .tg {
                border-collapse: collapse;
                border-spacing: 0;
              }

              .tg td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-size: 18px;
                overflow: hidden;
                padding: 0 5px;
                word-break: normal;
                text-overflow: ellipsis;

              }

              .tg th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-size: 18px;
                font-weight: bold;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
                text-overflow: ellipsis;
              }

              .tg .tg-gvcd {
                background-color: #ffffff;
                border-color: #000000;
                color: #000000;
                text-align: center;
                vertical-align: middle
              }
            </style>
            <table class="tg" style="table-layout: fixed; width: 100%">
              <colgroup>
                <col style="width: 10%"> <!-- STT -->
                <col style="width: 10%"><!-- Mặt hàng -->
                <col style="width: 10%"><!-- Đơn vị tính -->
                <col style="width: 10%"><!-- Số lượng -->
                <col style="width: 10%"><!-- Đơn giá xuất -->
                <col style="width: 10%"><!-- Thành tiền -->
                <col style="width: 11%"><!-- Thao tác -->
              </colgroup>
              <thead>
                <tr>
                  <th class="tg-gvcd">STT</th>
                  <th class="tg-gvcd">Mặt hàng</th>
                  <th class="tg-gvcd">Đơn vị tính</th>
                  <th class="tg-gvcd">Số lượng</th>
                  <th class="tg-gvcd">Đơn giá xuất</th>
                  <th class="tg-gvcd">Thành tiền</th>
                  <th class="tg-gvcd">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {% for item in ctxuathang %}
                
                <tr>
                  <td class="tg-gvcd">{{forloop.counter}}</td><!-- STT -->
                  <td class="tg-gvcd">{{item.MaMatHang}}</td><!-- Mặt hàng -->
                  <td class="tg-gvcd">{{item.DVT}}</td><!-- Đơn vị tính -->
                  <td class="tg-gvcd">{{item.SoLuong}}</td><!-- Số lượng -->
                  <td class="tg-gvcd">{{item.DonGia}}</td><!-- Đơn giá xuất -->
                  <td class="tg-gvcd">{{item.ThanhTien}}</td><!-- Thành tiền -->
                  <td class="tg-gvcd">
                    <img class="btn-modify" srcset="{ % static 'images/edit-icon.png' %}} 3x " alt="">
                    <img class="btn-modify" srcset="{ % static 'images/delete-icon.png' %} 3x " alt="">
                  </td><!-- Thao tác -->
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="result-money">
            <div class="result-money-item result-money-total">
              <span>Tổng tiền: </span>
              <span class="money-value">1000000</span>
              <span>VND</span>
            </div>
            <div class="result-money-item result-money-paid">
              <label for="money-paid">Số tiền trả: </label>
              <input type="number" name="money-paid" class="money-value">
              <span>VND</span>
            </div>
            <div class="result-money-item result-money-remain">
              <span>Còn lại: </span>
              <span class="money-value">1000000</span>
              <span>VND</span>
            </div>
          </div>
        </div>
        
        <div class="btn-group">
          <button class="btn btn-blue" type="submit">Lưu phiếu</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>