{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/form.css" />
    <link rel="stylesheet" href="../static/css/category.css" />
    <link rel="stylesheet" href="../static/css/function-list.css">
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/variable.css" />
    <link rel="stylesheet" href="../static/css/modal.css" />
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>QUAN LY DAI LY</title>
</head>

<body>
    <div class="main">
        <div class="category">
            <div class="title">
                Quản lý đại lý
            </div>
            <div class="category-list">
                <ul class="category-list-item">
                    <li class="category-item active">
                        <a href="{%url 'tiepnhan'%}" class="category-item-name">Chức năng</a>
                    </li>
                    <li class="category-item">
                        <a href="{%url 'doanhso'%}" class="category-item-name">Báo cáo</a>
                    </li>
                    <li class="category-item">
                        <a href="{%url 'quydinh'%}" class="category-item-name">Quy định</a>
                    </li>
                </ul>
                <ul class="category-user">
                    <li class="category-item">
                        <img src="{%static 'images/user-logo.png' %}" alt="">
                        <a href="{%url 'profile'%}" class="category-item-name">
                            {{user.username}}
                        </a>
                    </li>
                    <li class="category-item">
                        <img srcset="{%static 'images/logout.png' 2x %}" alt="" />
                        <a href="{%url 'logout'%}" class="category-item-name">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <ul class="function-list">
                <li class="function-item"><a href="{%url 'tiepnhan'%}">Tiếp nhận đại lý</a></li>
                <li class="function-item"><a href="{%url 'nhaphang'%}">Lập phiếu nhập hàng</a></li>
                <li class="function-item"><a href="{%url 'xuathang'%}">Lập phiếu xuất hàng</a></li>
                <li class="function-item active"><a href="{%url 'thutien'%}">Lập phiếu thu tiền</a></li>
                <li class="function-item"><a href="{%url 'tracuu'%}">Tra cứu & Chỉnh sửa</a></li>
            </ul>
            <div class="content-body">
                <div class="form">
                    <div class="form-input-group">
                        <div class="form-input-item-full">
                            <label for="MaDaiLy">Mã Đại lý</label>
                            <input type="text" id="MaDaiLy" name="MaDaiLy" placeholder="Nhập mã đại lý..." />
                            <button type="submit" name="tracuu">
                                <img srcset="../static/images/search-icon.png 3x" alt="" class="icon-search">
                            </button>
                        </div>
                        <div class="text-error hidden">
                            Mã đại lý không tồn tại!
                        </div>
                    </div>
                </div>
                <div class="form">
                    {% csrf_token %}
                    <div class="result">
                        <div class="form-wrap">
                            <div class="form-title">THÔNG TIN PHIẾU THU TIỀN</div>
                            <!-- Nửa này điền được -->
                            <div class="form-input-group-half">
                                <div class="form-input-item-half">
                                    <label for="">Ngày thu</label>
                                    <input type="date" id="NgayThuTien"disabled name="NgayThuTien" placeholder="Chọn ngày">
                                </div>
                                <div class="form-input-item-half">
                                    <label for="">Số tiền thu</label>
                                    <input onkeydown="return event.keyCode !== 69" type="number" id="SoTienThu" disabled name="SoTienThu" placeholder="Nhập số tiền thu">
                                </div>
                            </div>
                            <!-- Nửa này không điền được -->
                            <div class="form-input-group-half">
                                <div class="form-input-item-half">
                                    <label for=""> Mã đại lý </label>
                                    <input type="number" id="MaDaiLy2" name="MaDaiLy" value="" placeholder="" disabled>
                                </div>
                                <div class="form-input-item-half">
                                    <label for="">Tên đại lý</label>
                                    <input type="name" id="TenDaiLy" value="" placeholder="" disabled>
                                </div>
                                <div class="form-input-item-half">
                                    <label for="">Địa chỉ</label>
                                    <input type="name" id="DiaChi" value="" placeholder="" disabled>
                                </div>
                                <div class="form-input-item-half">
                                    <label for="">Quận</label>
                                    <input type="text" id="Quan" value="" placeholder="" disabled>
                                </div>
                                <div class="form-input-item-half">
                                    <label for="">Email</label>
                                    <input type="text" id="Email" value="" placeholder="" disabled>
                                </div>
                                <div class="form-input-item-half">
                                    <label for="">Điện thoại</label>
                                    <input type="name" id="DienThoai" value="" placeholder="" disabled>
                                </div>
                                <div class="form-input-item-half debt">
                                    <label for="">Số tiền đang nợ:&nbsp;</label>
                                    <input  id="TienNo" type="number" value=0 disabled class="debt-value text-is-input">
                                </div>
                                <div class="form-input-item-half debt">
                                    <label for="">Số tiền nợ còn lại:&nbsp;</label>
                                    <input id="TienConNo" type="number" value=0 disabled class="debt-value text-is-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-error hidden text-check-money">
                        Số tiền thu phải bé hơn số tiền nợ!
                    </div>
                    <div class="text-error hidden text-check-money-thu">
                        Số tiền thu phải là số dương
                    </div>
                    <div class="text-success hidden">
                        Lưu phiếu thành công
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-blue" name="phieumoi" id="saveBtn" disabled>Lưu phiếu</button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <script src="{%static 'script/thutien.js'%}"></script>
</body>

</html>