{% load static %} {% csrf_token %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/form.css" />
    <link rel="stylesheet" href="../static/css/category.css" />
    <link rel="stylesheet" href="../static/css/function-list.css" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/variable.css" />
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>QUAN LY DAI LY</title>
  </head>

  <body>
    <div class="main">
      <div class="category">
        <div class="title">Quản lý đại lý</div>
        <div class="category-list">
          <ul class="category-list-item">
            <li class="category-item active">
              <a href="{%url 'tiepnhan'%}" class="category-item-name"
                >Chức năng</a
              >
            </li>
            <li class="category-item">
              <a href="{%url 'danhmuc'%}" class="category-item-name">Danh mục</a>
            </li>
            <li class="category-item">
              <a href="{%url 'doanhso'%}" class="category-item-name">Báo cáo</a>
            </li>
            <li class="category-item">
              <a href="{%url 'quydinh'%}" class="category-item-name"
                >Quy định</a
              >
            </li>
          </ul>
          <ul class="category-user">
            <li class="category-item">
              <img src="../static/images/user-logo.png" alt="" />
              <a href="" class="category-item-name">{{user.username}}</a>
            </li>
            <li class="category-item">
              <a href="">
                <img srcset="../static/images/logout.png 2x" alt="" />
                <a href="" class="category-item-name">Logout</a>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="content">
        <ul class="function-list">
          <li class="function-item">
            <a href="{%url 'tiepnhan'%}">Tiếp nhận đại lý</a>
          </li>
          <li class="function-item">
            <a href="{%url 'nhaphang'%}">Lập phiếu nhập hàng</a>
          </li>
          <li class="function-item">
            <a href="{%url 'xuathang'%}">Lập phiếu xuất hàng</a>
          </li>
          <li class="function-item">
            <a href="{%url 'thutien'%}">Lập phiếu thu tiền</a>
          </li>
          <li class="function-item active">
            <a href="{%url 'tracuu'%}">Tra cứu & Chỉnh sửa</a>
          </li>
        </ul>
        <div class="content-body">
          <form method="post" class="form">
            <div class="form-filter">
              <div class="form-title">Bộ lọc</div>
              <div class="form-input-group">
                <div class="form-input-item-quarter">
                  <label for="name">Mã đại lý</label>
                  <input type="text" id="name" value=0 placeholder="Nhập 0 để tìm tất cả mã"/>
                </div>
                <div class="form-input-item-quarter">
                  <label for="type">Loại</label>
                  <select id="type" name="Loai">
                    <option value="0">Tất cả</option>
                    <!-- <option value="1">1</option>
                    <option value="2">2</option> -->
                  </select>
                </div>
                <div class="form-input-item-quarter">
                  <label for="district">Quận</label>
                  <select id="district" name="Quan">
                    <option value="0">Tất cả</option>
                    <!-- <option value="Quận 1">Quận 1</option>
                    <option value="Quận 2">Quận 2</option>
                    <option value="Quận 3">Quận 3</option> -->
                  </select>
                </div>
                <div class="form-input-item-quarter">
                  <label for="money">Số tiền nợ</label>
                  <!-- <input type="range" min="0" max="2000000" id="money" /> -->
                  <div class="min-max-money" style="width: -webkit-fill-available;
                  max-width: 100%;">
                    <input
                      style="max-width: 100%; margin-bottom: 10px"
                      type="text"
                      placeholder="Min"
                      class="min-money"
                    />
                    <input
                      style="max-width: 100%"
                      type="text"
                      placeholder="Max"
                      class="max-money"
                    />
                  </div>
                </div>
              </div>
              <div class="btn-group">
                <div class="btn btn-blue btn-tracuu">Tra cứu</div>
              </div>
            </div>
          </form>
          <div class="result">
            <div class="result-title">THÔNG TIN TRA CỨU</div>
            <div class="result-table">
              <style type="text/css">
                .tg {
                  border-collapse: collapse;
                  border-spacing: 0;
                }

                .tg td {
                  border-color: black;
                  border-style: solid;
                  border-width: 1px;
                  font-size: 18px;
                  overflow: hidden;
                  padding: 5px 0px;
                  word-break: normal;
                  text-overflow: ellipsis;
                }

                .tg th {
                  border-color: black;
                  border-style: solid;
                  border-width: 1px;
                  font-size: 18px;
                  font-weight: bold;
                  overflow: hidden;
                  padding: 10px 10px;
                  word-break: normal;
                  text-overflow: ellipsis;
                }

                .tg .tg-gvcd {
                  background-color: #ffffff;
                  border-color: #000000;
                  color: #000000;
                  text-align: center;
                  vertical-align: middle;
                }
              </style>
              <table class="tg" style="table-layout: fixed; width: 100%">
                <colgroup>
                  <!-- Mã Đại Lý -->
                  <col style="width: 6%" />
                  <!-- Tên Đại Lý -->
                  <col style="width: 10%" />
                  <!-- Loại -->
                  <col style="width: 5%" />
                  <!-- Quận -->
                  <col style="width: 4%" />
                  <!-- Địa chỉ -->
                  <col style="width: 9%" />
                  <!-- SĐT -->
                  <col style="width: 10%" />
                  <!-- Email -->
                  <col style="width: 15%" />
                  <!-- Ngày tiếp nhận -->
                  <col style="width: 10%" />
                  <!-- Tiền nợ -->
                  <col style="width: 8%" />
                  <!-- Thao tác -->
                  <col style="width: 8%" />
                </colgroup>
                <thead>
                  <tr>
                    <th class="tg-gvcd">Mã Đại Lý</th>
                    <th class="tg-gvcd">Tên Đại Lý</th>
                    <th class="tg-gvcd">Loại</th>
                    <th class="tg-gvcd">Quận</th>
                    <th class="tg-gvcd">Địa chỉ</th>
                    <th class="tg-gvcd">Điện thoại</th>
                    <th class="tg-gvcd">Email</th>
                    <th class="tg-gvcd">Ngày tiếp nhận</th>
                    <th class="tg-gvcd">Tiền nợ</th>
                    <th class="tg-gvcd">Thao tác</th>
                  </tr>
                </thead>
                <tbody class="table">
                  {{ csrf }}
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-blue" id="saveBtn">In phiếu</button>
          </div>
        </div>
      </div>
    </div>
    <form action="" class="form-post hidden" autocomplete="off">
      {% csrf_token %}
      <div class="form-wrap">
        <div class="form-title">Cập nhật đại lý</div>
      <div class="form-input-group-half">
        <div class="form-input-item-half">
          <label for="TenDaiLy">Tên đại lý</label>
          <input id="TenDaiLy" type="text" name="TenDaiLy" required />
        </div>
        <div class="form-input-item-half">
          <label for="MaLoaiDaiLy">Loại đại lý</label>
          <select type="text" id="MaLoaiDaiLy" name="MaLoaiDaiLy" required>
          </select>
        </div>
        <div class="form-input-item-half">
          <label for="MaQuan">Quận</label>
          <select type="text" name="MaQuan" id="MaQuan" required>
          </select>
        </div>
        <div class="form-input-item-half">
          <label for="DiaChi">Địa chỉ</label>
          <input type="text" name="DiaChi" id="DiaChi" required />
        </div>
      </div>
      <div class="form-input-group-half">
        <div class="form-input-item-half">
          <label for="DienThoai">Điện thoại</label>
          <input type="text" name="DienThoai" id="DienThoai" required />
        </div>
        <div class="form-input-item-half">
          <label for="Email">Email</label>
          <input type="email" name="Email" id="Email" />
        </div>
        <div class="form-input-item-half">
          <label for="NgayTiepNhan">Ngày tiếp nhận</label>
          <input type="date" disabled name="NgayTiepNhan" id="NgayTiepNhan" required />
        </div>
        <div class="form-input-item-half">
          <label for="SoTienNo">Số tiền nợ</label>
        <input type="text" disabled name="SoTienNo" id="SoTienNo" />
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-red cancel-button">Hủy</button>
        <button type="submit" class="btn btn-blue submit-button">Cập nhật</button>
      </div>
      </div>
    </form>

    <script src="../static/script/tracuu.js"></script>
  </body>
</html>
